
.pagecontainer {
    border: 4px solid darkslategray;
}

* {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    border: 4px solid darkslategray;
    background: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    display: flex;   
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.headerlogo{
    margin-right: auto;
}

.link1 {
    margin-right: 16px;
    font-weight:250;
    font-size: 18px;

}

.link2 {
    margin-right: 16px;
    font-weight:250;
    font-size: 18px;
}

.link3 {
    font-weight:250;
    font-size: 18px;
}


.container1 {
    border: 4px solid pink;
    display: flex;
    color: blueviolet;
    background: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container2 {
    border: 4px solid darkslategray;
    color: white;
    background: #1f2937;
    margin-right: auto;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.signup {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-left: 4px;
    margin-bottom: 8px;
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    width: 60px;
    display: flex;
}

.signup2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-left: 4px;
    margin-bottom: 8px;
    border: 1px solid white;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    font-weight: bold;
    padding: 8px 24px;
    
    width: 60px;
    display: flex;
}


.container3 {
    /* image placeholder */
    border: 4px solid darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container4 {
    /* some random information */
    border: 4px solid darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.container5 {
    border: 4px solid darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flower1 {
    width: 200px;
    display: flex;
    /* this will put flower and text on same line display: flex; */
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px white;
    background: white;
    
    margin: 28px;
}

.box{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 4px solid #3882F6;
     
}

.text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;


}

.container6 {
    display: flex;
    flex-direction: column;
    border: 4px solid darkslategray;
    background: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 65px;
    padding-bottom: 65px;
    
}

.container7 {
    border: 4px solid darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bluebox {
    height: 100px;
    width: 800px;
    border-radius: 10px;
    background: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.blueleft {
    border: 4px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 50px;
    margin-right: auto;

}

.blueright {
    border: 4px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}

.footer {
    border: 4px solid darkslategray;
    color: whitesmoke;
    background: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}